@model App.Models.Blog.Post
@using App.Models.Blog
@using App.Components
@{
    ViewData["Title"] = Model.Title;
    var category = ViewBag.category as Category; 
    var otherPost = ViewBag.OtherPost as List<Post>;
}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    @if(category != null)
    {
        var listParent = category.ListParent();
        if(listParent != null)
        {
            foreach(var parent in listParent)
            {
                <li class="breadcrumb-item">
                    <a asp-action="Index" 
                            asp-controller="PostView" 
                            asp-route-categoryslug="@parent.Slug">@parent.Title</a></li>
            }
        }
         <li class="breadcrumb-item">
                    <a asp-action="Index" 
                            asp-controller="PostView" 
                            asp-route-categoryslug="@category.Slug">@category.Title</a></li>
    }
  </ol>
</nav>
<h2>@ViewData["Title"]</h2>
<div class="author">
    author: <strong>@Model.Author.UserName</strong> / date: <i>@Model.DateUpdate.ToShortDateString()</i> 
</div>
<br>
<div class="content">
    @Model.Content
</div>


@section Sidebar{
    @await Component.InvokeAsync("App.Components.CategorySidebar",new CategorySidebar.CategorySidebarData{
        Level = 0,
        Categories = ViewBag.categories as List<Category>,
        CategorySlug = ViewBag.Slug
    });
    @if(otherPost?.Count>0)
    {
        <ul>
            @foreach (var p in otherPost)
            {
                <li><a asp-action="Detail" asp-route-postslug="@p.Slug">@p.Title</a></li>
            }
        </ul>
    }
}